.container{
    height: 60px;
    padding-top: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons{
    display: flex;
    align-items: center;    
}

::ng-deep h1{
    margin-top: 4px;
}

.sticky-header{
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 16px);
    background: white;
    margin: 0;
    padding-left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}